{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ramón Lado">
    <title>dsBlog</title>
    {% comment %} ICONOS BOOTSTRAP {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {% comment %} CSS BOOTSTRAP {% endcomment %}
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
     {% comment %} ESTILOS PERSONALIZADOS {% endcomment %}
    <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% comment %} LINEA DE CABECERA PARA NOMBRE Y LOGO {% endcomment %}
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <img src="{% static 'blog/img/blogo.svg' %}" class="bi me-2" width="40" height="32" alt="Logo">
              <span class="fs-4">Blog</span>
            </a>
        </header>
        <main class="mt-2">
            <section class="row g-5">
                {% comment %} TODOS LOS POSTS {% endcomment %}
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <aside class="col-md-4">
                    {% if request.path == '/' %}
                      {% comment %} ARTICULOS POR PAGINA {% endcomment %}
                      <form action="" method="get">
                        <div class="card-body mb-2 d-flex align-items-center gap-2 justify-content-center">
                          <label for="items_per_page" class="col-form-label" style="white-space: nowrap;">Artículos por Página:</label>
                          <select name="items_per_page" class="form-select form-select-sm" id="items_per_page" style="width: 80px;">
                              <option value="2" {% if request.session.items_per_page == 2 %} selected {% endif %}>2</option>
                              <option value="4" {% if request.session.items_per_page == 4 %} selected {% endif %}>4</option>
                              <option value="6" {% if request.session.items_per_page == 6 %} selected {% endif %}>6</option>
                          </select>
                          <button type="submit" class="btn btn-outline-primary">Actualizar</button>
                        </div>
                      </form>
                    {% endif %}
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-body-tertiary rounded">
                          <h4 class="fst-italic">Acerca de ...</h4>
                          <p class="mb-0">{{ ABOUT }}</p>
                        </div>
                        <div>
                          <h4 class="fst-italic">Entradas Recientes</h4>
                          <ul class="list-unstyled">
                            {% for entrada in ENTRADAS %}
                              <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'post' entrada.id %}">
                                {% if entrada.imagen %}
                                    <img src="{{ entrada.imagen.url }}" class="bd-placeholder-img" 
                                {% else %}
                                    <img src="{% static 'blog/img/no-image.svg' %}" class="bd-placeholder-img" 
                                {% endif %}
                                width="100%" height="96" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" width="100%" height="100%" fill="#777" alt="imagen">
                                <div class="col-lg-8">
                                  <h6 class="mb-0">{{ entrada.titulo }}</h6>
                                  <small class="text-body-secondary">{{ entrada.creado|date:"d M Y" }}</small>
                                </div>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="p-4">
                            <h4 class="fst-italic">Categorías</h4>
                            <ol class="list-unstyled mb-0">
                                {% for categoria in CATEGORIAS %}
                                    <li>
                                      <a href="{% url 'categoria' categoria.id %}" class="text-decoration-none">
                                          {{ categoria.nombre }}
                                      </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="p-4">
                          <h4 class="fst-italic">Archivos</h4>
                          <ol class="list-unstyled mb-0">
                            {% for fecha in FECHAS %}
                              <li><a href="{% url 'fechas' fecha.month fecha.year %}">{{fecha|date:"F Y"}}</a></li>
                            {% endfor %}
                          </ol>
                        </div>
                        <div class="p-4">
                          <h4 class="fst-italic">Redes Sociales</h4>
                          <ol class="list-unstyled">
                            {% if LINK_DISCORD.url %}
                              <li>
                                <a href="{{ LINK_DISCORD.url }}" class="text-decoration-none" target="_blank">
                                    <i class="{{ LINK_DISCORD.icono }}"></i>
                                    {{ LINK_DISCORD.nombre}}
                                </a>
                              </li>
                            {% endif %}
                            {% if LINK_GITHUB.url %}
                              <li>
                                <a href="{{ LINK_GITHUB.url }}" class="text-decoration-none" target="_blank">
                                    <i class="{{ LINK_GITHUB.icono }}"></i>
                                    {{ LINK_GITHUB.nombre}}
                                </a>
                              </li>
                            {% endif %}
                            {% if LINK_FACEBOOK.url %}
                              <li>
                                <a href="{{ LINK_FACEBOOK.url }}" class="text-decoration-none" target="_blank">
                                    <i class="{{ LINK_FACEBOOK.icono }}"></i>
                                    {{ LINK_FACEBOOK.nombre}}
                                </a>
                              </li>
                            {% endif %}
                            {% if LINK_SLACK.url %}
                              <li>
                                <a href="{{ LINK_SLACK.url }}" class="text-decoration-none" target="_blank">
                                    <i class="{{ LINK_SLACK.icono }}"></i>
                                    {{ LINK_SLACK.nombre}}
                                </a>
                              </li>
                            {% endif %}
                            {% if LINK_X.url %}
                              <li>
                                <a href="{{ LINK_X.url }}" class="text-decoration-none" target="_blank">
                                    <i class="{{ LINK_X.icono }}"></i>
                                    {{ LINK_X.nombre}}
                                </a>
                              </li>
                            {% endif %}       
                          </ol>
                        </div>
                    </div>
                </aside>
            </section>
        </main>
        {% comment %} PIE DE PAGINA {% endcomment %}
        <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
            <p>Blog - <a href="https://duyosoft.com/" class="text-decoration-none" target="_blank">DuyoSoft</a></p>
        </footer>
    </div>
</body>
</html> 